.card {
  margin: 2em 0;
  padding: 12px 20px;
  white-space: nowrap;
}

:global(.ant-card-head-title) {
  font-size: 18px;
  font-weight: normal;
}

:global(.ant-card-body) {
  font-size: 14px;
}

.list-wrapper {
  margin: 0, auto;
}

.list {
  list-style: none;
  line-height: 2.5em;
}

.info-key {
  font-size: 1.25em;
  letter-spacing: 1px;
  display: inline-block;
  width: 100px;
  text-align: right;
  vertical-align: middle;
}

.info-value {
  font-size: 1.25em;
  display: inline-block;
  width: 50%;
  margin-left: 1.2em;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.link {
  color: rgba(0, 0, 0, 0.85);
}

.link:hover {
  color: rgba(0, 0, 0, 0.85);
}

