.post-card {
  margin: 2em 0;
  padding: 12px 20px;
}

.post-content {
  width: 100%;
  max-height: 14em;
  line-height: 1.75em;
  display: inline-block;
  margin: 2px 0;
  overflow: hidden;
}

.post-date {
  font-size: 12px;
  font-family: Georgia, sans-serif;
  color: #8e8e8e;
  position: relative;
  top: -12px;
}