.post-card {
  min-width: 400px;
  min-height: 400px;
  margin: 2em 0;
  padding: 12px 20px;
}

.post-content {
  line-height: 1.75;
  display: inline-block;
  margin: 2px 0;
  composes: global-line-limit-length from global;
}

.post-date {
  font-size: 12px;
  font-family: Georgia, sans-serif;
  color: #8e8e8e;
  position: relative;
  top: -12px;
}