.login-wrapper {
  width: 30%;
  min-width: 300px;
  max-width: 480px;
  margin: 0 auto;
  position: relative;
  top: 15%;
  composes: global-box-style from global;
}

.login-btn {
  width: 100%;
}

:global(.ant-form-item:last-child) {
  margin-bottom: 0;
}