
html, body, :global(#root) {
  height: 100%;
  background-color: #f8f8f8;
}

:global(.global-box-style) {
  padding: 26px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 6px 12px 0 rgba(207,207,207,0.8) inset;
  background-color: #fff;
}
 
:global(.global-line-limit-length){
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}